C++ Essentials/Classes and Objects/.vs
C++ Essentials/Classes and Objects/x64

C++ Essentials/Dynamic Memory Allocation/.vs
C++ Essentials/Dynamic Memory Allocation/x64

C++ Essentials/Function Templates/.vs
C++ Essentials/Function Templates/x64